<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>接口测试</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        h1 {
            margin: 30px;
        }

        p {
            margin: 10px;
            padding-left: 30px;
            font-size: 20px;
        }




        a {
            text-decoration: none;
        }
    </style>

</head>

<body>
    <h1>接口测试</h1>

    <p><a href="/uploadFiles">图片批量上传</a></p>
   

</body>

</html>